@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align: center; color: blue">HR MANAGEMENT SOFTWARE</h1>
    <br />
    <br />
    <br />
    <br />

    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    <p><span style="padding-left: 88px"><a href="http://localhost:57021/Class" class="btn btn-primary btn-lg">Department &raquo;</a></span><span style="padding-left:566px"><a href="http://localhost:57021/Student" class="btn btn-primary btn-lg">Employee &raquo;</a></span></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Giới thiệu</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to enables a clean separation of concerns agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tài Nguyên</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>